# Billing service
BILLING_HOST=
BILLING_PORT=

# inventory service
INVENTORY_HOST=0.0.0.0
INVENTORY_PORT=8080

# gateway service
GATEWAY_HOST=
GATEWAY_PORT=
INVENTORY_API_URL=

# inventory PostgreSQL
INVENTORY_DB_HOST=inventory-db-service
INVENTORY_DB_PORT=5432
INVENTORY_DB_NAME=inventory_db
INVENTORY_DB_USER=inventory_user
INVENTORY_DB_PASSWORD=password

# Billing PostgreSQL
BILLING_DB_HOST=
BILLING_DB_PORT=5432
BILLING_DB_NAME=billing_db
BILLING_DB_USER=billing_user
BILLING_DB_PASSWORD=password

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_DEFAULT_USER=rabbit_user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_QUEUE=
