# Billing service
BILLING_HOST=
BILLING_PORT=

# inventory service
INVENTORY_HOST=
INVENTORY_PORT=

# gateway service
GATEWAY_HOST=
GATEWAY_PORT=
INVENTORY_API_URL=

# inventory PostgreSQL
INVENTORY_DB_HOST=
INVENTORY_DB_PORT=
INVENTORY_DB_NAME=
INVENTORY_DB_USER=
INVENTORY_DB_PASSWORD=

# Billing PostgreSQL
BILLING_DB_HOST=
BILLING_DB_PORT=5432
BILLING_DB_NAME=billing_db
BILLING_DB_USER=billing_user
BILLING_DB_PASSWORD=password

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_QUEUE=
